TURN_SERVER=<TURN server ip address or FQDN>
TURN_SERVER_PORT=<TURN server port>
TURN_SSL=<True/False. Whether to use TLS for the TURN server>
TURN_TRANSPORT=<tcp/udp. The transport for TURN server>
USE_IPV4=<True/False. Whether to use IPv4 candidates>
USE_IPV6=<True/False. Whether to use IPv6 candidates>
SHARED_SECRET=<TURN server shared secret>